body
{
    color: blue;
    background-color: chocolate;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: aquamarine;


}

menu
{
    color: darkgreen;
    text-align: center;
}